<div class="container-fluid">
    <div class="row">
        <h2>{{message}}</h2>
        <img src="../../img/core.jpg" width="200" />
        <img src="../../img/angular.png" width="200" />
        <img src="../../img/mssql.jpg" width="200" />

        <hr />
        <h4>Single-Page Applications (SPA)</h4>
        <p>In this application we have implemented SPA using AngularJS and ASP.Net Core MVC, MSSQL Server as database!! For app routing we have used Angular-UI-Routing.</p>
        <b>Major Implementations:</b>
        <ul>
            <li>ASP.Net Core - Server Side (One to Many Relationship)</li>
            <li>AngularJS - Frontend</li>
            <li>Two-way data binding (Using AngularJS Template)</li>
            <li>Controller (AngularJS)</li>
            <li>Service (Register Using Provider)</li>
            <li>Scope, Directives, Custom Directives</li>
            <li>Dependency Injection (Factory Pattern, Module Pattern)</li>
            <li>Expressions</li>
            <li>Filter</li>
            <li>Form (Validation)</li>
            <li>Component</li>
            <li></li>
            <li></li>
            <li></li>
         

        </ul>
    </div>
</div>